<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo Articulo</title>
        <meta charset="UTF-8">
        <link href="/CSS/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="contenido">
        <h2>Datos del Articulo</h2>
        
        <br>
        <a th:href="@{/articulo/listado}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/articulo/guardar}"
              method="post"
              th:object="${articulo}"> <!-- $ es para objetos -->
            <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/> <!--Para poder poner el ID articulo y que se guarde el modify-->
            <label for="categoria">Categoria: </label> 
            <select th:field="*{idCategoria}">
                <option th:each="item: ${categorias}"
                        th:value="${item.idCategoria}"
                        item.text="${item.descripcion}"
                        />
            </select>
            <br>
            <label for="descripcion">Descripcion </label> 
            <input type="text" name="descripcion" th:field="*{descripcion}"/> <!-- Este ph:field apellidos tiene que ser exactamente igual al de la clase basica de Articulo -->
            <br>
            <label for="detalle">Detalle </label> 
            <input type="email" name="detalle" th:field="*{detalle}"/> <!-- Este ph:field detalle tiene que ser exactamente igual al de la clase basica de Articulo -->
            <br>
            <label for="precio">Precio: </label> 
            <input type="number" name="precio" th:field="*{precio}"/> <!-- Este ph:field precio tiene que ser exactamente igual al de la clase basica de Articulo -->
            <br>
            <label for="existencias">Existencias: </label> 
            <input type="number" name="existencias" th:field="*{existencias}"/>
            <label for="activo">Activo: </label> 
            <input type="checkbox"  name="activo" th:field="*{activo}">
            <input type="submit" name="guardar" value="Guardar Registro"/>
        </form> 
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
       
    </body>
</html>
