<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:fragment="header" class="header"> 
            <nav class="nav">   
                <a href="@{/}" class="nav-link logo">Tech shop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/cliente/listado}"
                           th:text="#{plantilla.clientes}">Clientes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/articulo/listado}"
                           th:text="#{plantilla.articulos}">Articulos</a>
                    </li>
                     <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/categoria/listado}"
                           th:text="#{plantilla.categorias}">Categorias</a>
                    </li>
                   </ul>
                </nav>
             </header>
        
        <footer th:fragment="footer" class="footer">
            <p>&COPY; [[#{plantilla.derechos}]]
                <a th:href="@{/(lang=es)}">ES</a>
                <a th:href="@{/(lang=en)}">EN</a>
                    </p>
        </footer>         
    </body>
</html>