<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Listado</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosCliente :: agregarCliente"/>
        <section th:replace="cliente/fragmentosCliente :: listadoClientes"/>

        <section class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cliente/ReporteClientes}" class="btn btn-primary">
                            <i class="fas fa-file"></i>
                            Reporte
                        </a>
                    </div>
                </div>
            </div>
            
        </section>
        
    <footer th:replace="layout/plantilla :: footer" ></footer>

</body>
</html>
