<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="/CSS/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>


        <div class="contenido">

            <h2>Listado de Categoria</h2>
            <br><!-- comment -->
            <a th:href="@{/categoria/nuevo}">Nuevo Categoria</a> <!--Esto es para hacer un href de agregar nuevo categoria en Thymeleaf. @ es para acciones-->
            <br>
            <br>

            <div th:if="${categorias != null and !categorias.empty}">
                <table border="1">

                    <tr>
                        <td>Descripcion</td>
                        <td>Activo</td>
                        <td>Modificar</td>
                        <td>Eliminar</td>

                    </tr>

                    <tr th:each="item :${categorias}">
                        <td th:text="${item.descripcion}"></td>
                        <td> <input type="checkbox" name="activo" th:checked="${item.activo}" disabled="true"></td>
                        <td><a th:href="@{/categoria/modificar/} + ${item.idCategoria}">Modificar</a></td>
                        <td><a th:href="@{/categoria/eliminar/} + ${item.idCategoria}">Eliminar</a>
                    </tr>
                </table>
            </div>
            <div th:if="${categorias == null or categorias.empty}">
                No tenemos categorias para mostrar!
            </div>
        </div>
    </body>
</html>
