<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo Categoria</title>
        <meta charset="UTF-8">
        <link href="/CSS/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="contenido">
        <h2>Datos de la Categoria</h2>
        
        <br>
        <a th:href="@{/categoria/listado}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/categoria/guardar}"
              method="post"
              th:object="${categoria}"> <!-- $ es para objetos -->
            <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/> <!--Para poder poner el ID categoria y que se guarde el modify-->

            <label for="descripcion">Descripcion </label> 
            <input type="text" name="descripcion" th:field="*{descripcion}"/> <!-- Este ph:field apellidos tiene que ser exactamente igual al de la clase basica de Categoria -->
            <br>
            <label for="activo">Activo: </label> 
            <input type="checkbox"  name="activo" th:field="*{activo}">
            <input type="submit" name="guardar" value="Guardar Registro"/>
        </form> 
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
       
    </body>
</html>
