
/* 
    Created on : 8 feb. 2022, 18:36:57
    Author     : Sebastián Lizano
*/

#Barra {
    position: absolute;
    left: 0%;
    right: 8%;
    height: 64.5%;
    width: 8%;
    background-color: rgba(0,0,0,.3);
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
   
}

#headerPrin{
    font-family: 'Bebas Neue', cursive; 
    font-size: 1000%; text-align: center;
}

#Barra a img {

    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 35px;
    padding-left: 35px;
}

#menuText{
    font-size: 25px;
    font-weight: 100;
    margin-top: .25rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding-right: 20px;
    padding-left: 20px;
}

.seccionPrincipal{
    position: absolute;
    left: 12%;
    width: 86%;
    overflow: auto;
    background-color: rgba(142,39,154,.5);
    border-radius: 25px;
    border: 2px solid #73AD21;
    height: 67%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 0px;

}

#seccionPrincipal h1{
    font-family: 'Audiowide', cursive;
    font-size: 37px;
}

#secondSection{
    top: 34%;
    left: 38%;
    width: 67%;
    height: 83%;
    position: absolute;
    height: 67%;
}

#secondSection label {
    
    color: white;
    font-size: 30px;
    font-family: Verdana, sans-serif;
}