<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/CSS/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        
        
        <!-- comment -->
        <div class="contenido">
            <h2 th:text="#{index.titulo}">Nuestros Articulos</h2>
        <br>
        <br>
        <br>
        
        <div th:if="${articulos != null and !articulos.empty}">
        <table border="1">
           
            <tr>
            <td th:text="#{articulo.descripcion}">Desripcion</td>
            <td th:text="#{articulo.precio}">Precio</td>
            <td th:text="#{articulo.comprar}">Comprar</td>

            
            </tr>
            
            <tr th:each="item :${articulos}">
                <td th:text="${item.descripcion}"></td>
                <td th:text="${#numbers.formatDecimal(item.precio, 3,2)}" style="text-align: right;"></td> 
                <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo}"
                       th:text="#{accion.agregar}">Agregar</a></td>
            </tr>
            
            
        </table>
        </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" ></footer>
    </body>
</html>
